html,
body {
  font-size: 16px;
  color: #000000;
  background-color: #000000;
}

a {
  color: #0e8a93;
}

a:hover {
  color: #0e8a93;
}

section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-1 {
  background: #d8e2e6;
}

.section-2 {
  background-color: #91a2a9;
}

.section-3 {
  background-color: #5a676c;
}

.section-4 {
  background-color: #2c3538;
}

footer {
  background-color: #000000;
  color: #fff;
  padding: 10px;
  text-align: center;
}

a.nav-item {
  color: #dfdfdf;
}

a.nav-item:hover {
  color: #fff;
}

.avatar {
  height: 200px;
  width: 200px;
  border-radius: 100%;
}

.intro-description {
  padding-top: 1rem;
}

.social-container img {
  max-width: 100%;
  max-height: 175px;
  margin-bottom: 15px;
}

.project-figure {
  margin: 0 auto 1rem auto;
  max-height: 256px;
  max-width: 256px;
}

.project-text {
  text-align: justify;
}

.box {
  background-color: transparent;
  border: 2px solid rgba(7, 59, 79, 0.5);
}

.title {
  color: #000000;
  text-align: left;
  margin-bottom: 2rem;
}

.intro {
  text-align: justify;
  width: 80%;
  margin: 0 auto;
}

.void-background {
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    background-color: #063647;
  }

  .nav-toggle:hover {
    background-color: transparent;
  }

  .nav-toggle span {
    background-color: #dfdfdf;
  }

  .nav-toggle span:hover {
    background-color: #fff;
  }
}

h1 {
  font-size: 40px;
  font-family: Helvetica;
  line-height: 1.06;
  letter-spacing: -0.02em;
  color: #1d1d1f;
  text-align: justify;
  width: 80%;
  margin: 0 auto;
}

:root {
  --offset: 130px;
}

body {
  /* display: grid; */
  justify-content: center;
  align-items: center;
  min-height: 200px;
}

.mask {
  height: 100px;
  position: relative;
  overflow: hidden;
  margin-top: var(--offset);
  text-align: justify;
  width: 80%;
  margin: 0 auto;
}

.mask span {
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 200px;
  padding-bottom: var(--offset);

  background-size: 100% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  /* This feature is non-standard and should not be used without careful consideration. */
  -webkit-text-fill-color: transparent;
  background-repeat: no-repeat;
}

.mask span[data-up] {
  transform: translatey(-200%);
  transition: 0.5s transform ease-in-out;
}

.mask span[data-show] {
  transform: translatey(-100%);
  transition: 0.5s transform ease-in-out;
}

.mask span:nth-child(1) {
  background-image: linear-gradient(
    109.6deg,
    rgba(0, 196, 179, 1) 11.2%,
    rgba(13, 206, 183, 1) 91.1%
  );
}

.mask span:nth-child(2) {
  background-image: linear-gradient(
    109.6deg,
    rgba(255, 194, 48, 1) 11.2%,
    rgba(255, 124, 0, 1) 100.2%
  );
}

.mask span:nth-child(3) {
  background-image: linear-gradient(
    109.8deg,
    rgba(62, 5, 116, 1) -5.2%,
    rgba(41, 14, 151, 1) -5.2%,
    rgba(216, 68, 148, 1) 103.3%
  );
}

.mask span:nth-child(4) {
  background-image: linear-gradient(
    106.1deg,
    rgba(69, 242, 143, 0.52) 10.2%,
    rgba(14, 228, 175, 0.61) 83.6%
  );
}
